  <div class="container align-items-center foot">
    <h1 style="font-size:100px;">Lior J'adore!</h1>
    <%= cl_image_tag "https://media0.giphy.com/media/5bxl57jd6gDZA3GySS/giphy.gif?cid=790b761180958c9b0410cfa371b6576429acb1d596ed7c0b&rid=giphy.gif", class: "ml-5" %>

  </div>
