<div class="container foot">
<ul class="list-inline tabs-underlined ">
  <li>
    <a href="#" class="tab-underlined active">Bookings</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Kitchens</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Add kitchen</a>
  </li>
</ul>


<div class="card-product">
   <img class="avatar" src="https://res.cloudinary.com/dlodtvkez/image/upload/v1566314653/id2.jpg" />
  <div class="card-product-infos">
    <h2>Linda Blanca</h2>
    <h3 class="card-product-subtitle">Rented Kitchen: Chez Marion</h3>
    <p>Linda has booked Chez Marion kitchen <strong>From 12/06/2019 To 25/06/19 info</strong> only.</p>
  </div>
  <div class="calltoactions">
  <a class="btn btn-success" href="#">Accept</a>

  <a class="btn btn-danger" href="#">Cancel</a>
  </div>
</div>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

</div>

