#kitchen-attention {
  font-weight: bold;
  font-size: 14px;
}

#fake-news {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
  padding-right: 40px;
}

.book-btn {
  width: 100%;
  border-radius: 4px;
  height: 44px;
  font-weight: 550;
  background-color: $lior;
  color: white;
}
.book-btn:hover {
  color:white;

}

.form-booking-control {
  background-color: white;
  position: relative;
}

.la-tuerie {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
