// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "kitchen-description";
@import "bookingcard";

@import "bookingcard";

@import "booking-form";


@import "mykitchenscard";
@import"superbtn";
@import "map";
@import "tabs";
@import "reviews";
@import "no-likes";

.content {
  display: flex;
}

abbr[title="required"] {
  display: none;
}

body {
  background-color: white;
}

#newkitchen {
  width:50%;
  margin-left: 40%;
  margin-top: 10px;
}
