// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "kitchen-description";
@import "booking-form";

.content {
  display: flex;
}

abbr[title="required"] {
  display: none;
}

body {
  background-color: white;
}
