// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "footer";
@import "card";
@import "kitchen-description";
@import "bookingcard";

@import "bookingcard";

@import "booking-form";


@import "mykitchenscard";
@import"superbtn";
@import "map";


.content {
  display: flex;
}

abbr[title="required"] {
  display: none;
}

body {
  background-color: white;
}
