
.mapboxgl-popup {
  max-width: 50px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;

}

.map-show {
  width: 100%;
}

#equipments {
  width: 120%;
}
.map-index {
  height: 80vh;
  position: sticky !important;
}


