.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

<<<<<<< HEAD
.fa-user-circle {
	color: #494949;
	font-size: 48px;
}
=======
.logo-title {
  display: flex;
  align-items: center;
}

.navbar-brand-title {
  font-size: 16px;
  font-style: bolder;
  padding-right: 100px;
}

>>>>>>> 39cf073fa42ae8fe165a299678506ae9598872d7
