.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.fa-user-circle {
	color: #484848;
	font-size: 48px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.navbar-brand-title {
  font-size: 29px;
  font-weight: bolder;
  padding-right: 100px;
}

.logo-title h3 {
  font-family: 'Righteous', cursive;
}

.nav-item {
  font-size: 20px;
}

.special {
  padding-right: 8px;
  border-right: 3px solid black;
  text-decoration: none;
  color: black;
}

.special:hover {
  text-decoration: none;
  color: #484848;

}