.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.fa-user-circle {
	color: #494949;
	font-size: 48px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.navbar-brand-title {
  font-size: 32px;
  font-weight: bolder;
  padding-right: 100px;
}

