.all-reviews h3 {
  margin: 0px;
  font-size: 24px;
  color: #484848;
  font-weight: 600;
}

.rating-avg i {
  font-size: 18px;
  color: #018488;
}

.category-rating i {
  font-size: 14px;
  color: #018488;
}

.review-user {
  height: 100px;
}

.review-user-infos {
  span {
    color: #484848;
    font-weight: 520;
  }
  p {
    color: #484848;
    font-size: 14px;
    font-weight: 300;
  }
}
