.card-kitchen {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 27%;
  position: relative;
}

.card-kitchen > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.fa-heart {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: black;
}


.card-kitchen h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-link:hover {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1));
}

.card-kitchen p {
  font-size: 16px;
  opacity: .7;
}

.card-kitchen .card-kitchen-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-kitchen-infos .card-kitchen-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-kitchen-index {
}

.map-index {
  width: 100%;
  height: 80vh;
  position: sticky;
  top: 16px;
}

.content {
  margin: 40px;

}
.card-container {
  width: 220%;
}
#card-kitchen-index-width {
  width: 100% !important;
  margin-right: 16px;
  margin-bottom: 16px;
  max-width: 31% !important;
}

.card-link {
  position: absolute;
  width: 100%;
  top:0;
  left: 0;
  height: 200px;
}

.super-link:hover {
  i {display:block}
}
.fa-heart {
  display:none;
}

// @media (min-width: 100px) and (max-width: 750px) {
//   .card-kitchen-index {
//     grid-template-columns: 1fr;
//   }
// }

// @media (min-width: 751px) {
//   .card-kitchen-index {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media (min-width: 1200px) {
//   .card-kitchen-index {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }
