<div class="cards d-flex justify-content-around">
	<div class="card-kitchen">
	  <img src="https://www.cuisine.net/wp-content/uploads/2016/12/cuisine-equipee-768x0-c-default.jpg" />
	  <div class="card-kitchen-infos">
	    <div>
	      <h2>Marion's kitchen</h2>
	      <p>Perfect kitchen for prepare delicious meals!</p>
	    </div>
	    <h2 class="card-kitchen-pricing">13€</h2>
	    <img src="https://cdn.imgbin.com/13/18/14/imgbin-avatar-vk-user-profile-deadpool-pixel-art-avatar-nRH7iwPxqeg72u0hC6SZmXfga.jpg" class="card-kitchen-user avatar-bordered" />
	  </div>
	</div>
	<div class="card-kitchen">
	  <img src="https://i2.cdscdn.com/pdt2/3/3/3/1/550x550/meu2009999599333/rw/cuisine-equipee-de-2m20-oxa.jpg" />
	  <div class="card-kitchen-infos">
	    <div>
	      <h2>Raphou's kitchen</h2>
	      <p>Lovely kitchen for big fan of pastry!</p>
	    </div>
	    <h2 class="card-kitchen-pricing">16€</h2>
	    <img src="http://pixelartmaker.com/art/f02a30798ac49ca.png" class="card-kitchen-user avatar-bordered"/>
	  </div>
	</div>
	<div class="card-kitchen">
	  <img src="https://www.lacuisinefrancaise.fr/wp-content/uploads/2014/07/Villandry2-1.jpg" />
	  <div class="card-kitchen-infos">
	    <div>
	      <h2>Lior's kitchen</h2>
	      <p>Amazing kitchen, perfect to cook all your ideas!</p>
	    </div>
	    <h2 class="card-kitchen-pricing">19€</h2>
	    <img src="https://cdn.weasyl.com/static/media/59/ab/f2/59abf20a65beaec36d57ae0d9149b4ff4da66b2e9501e292e4879dd7b8c704fd.png" class="card-kitchen-user avatar-bordered"/>
	  </div>
	</div>
</div>
